* {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 18px;
    color: #ffffff;
}

window {
    background-color: rgba(20, 20, 20, 0.95);
}

button {
    /* background-color: #282a36; */

    border-radius: 10px;
    border: 2px solid #f2cdcd;
    padding: 10px;
    margin: 5px;
}

button:hover {
    /* background-color: #44475a; */
    background-color: #1e1e2e;
}

button:focus {
    border-color: #89dceb;
}

#lock {
    background-image: url("/home/kipoha/.config/wlogout/icons/lock.svg");
    background-size: 25%;
}

#logout {
    background-image: url("/home/kipoha/.config/wlogout/icons/logout.svg");
    background-size: 25%;
}

#suspend {
    background-image: url("/home/kipoha/.config/wlogout/icons/suspend.svg");
    background-size: 25%;
}

#hibernate {
    background-image: url("/home/kipoha/.config/wlogout/icons/hibernate.svg");
    background-size: 25%;
}

#shutdown {
    background-image: url("/home/kipoha/.config/wlogout/icons/shutdown.svg");
    background-size: 25%;
}

#reboot {
    background-image: url("/home/kipoha/.config/wlogout/icons/reboot.svg");
    background-size: 25%;
}
